@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700;800&display=swap");
:root {
  font-family: "Poppins", sans-serif;
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
  scroll-behavior: smooth;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #352f44 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
  /* scroll-behavior: smooth; */
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #352f44;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
